/* styles.css */

body { font-family: 'Lato', sans-serif; font-size: 80%}
#app {position:fixed; z-index: 2; width:250px; height:100%; opacity:0.9;}
.bd-navbar {background-color: #444444;}
.sidebar {position:absolute; left:0; top:51px; width:250px; height:93%; background-color:#eee; overflow-y:scroll; border-right: solid 1px lightgray;}
.card-title {font-size:12pt; margin-bottom:0.5rem;}
.card-body {padding:0.5rem;}
.card {position:inherit;}
.card {border:10px red;}
.adsk-viewing-viewer {width:79%;right:0;}
#forgeViewer {z-index:-1;}
::-webkit-scrollbar { 
    display: none; 
}

#msg {
    left: 270px;
    top: 15px;
    position: fixed;
}

#msg .card {
    width: 200px;
    height: 270px;
    box-shadow: 0px 7px 20px #707070;
}

#msg .icon {
    width:28px;  height:28px;
    top:-14px;    left: -16px;
    background: url(img/Issues.png);
    background-size: cover;
    position:absolute;
    box-shadow: 3px 3px 7px #707070;
    border-radius: 15px;
    z-index:1;
}


@font-face{font-family:dmviewicon;font-style:normal;font-weight:400;src:url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAtcAAsAAAAACxAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxIGDGNtYXAAAAFoAAAAZAAAAGQAb7u7Z2FzcAAAAcwAAAAIAAAACAAAABBnbHlmAAAB1AAABuQAAAbkrqo0+GhlYWQAAAi4AAAANgAAADYNp+RDaGhlYQAACPAAAAAkAAAAJAfCA9BobXR4AAAJFAAAADwAAAA8MgADSGxvY2EAAAlQAAAAIAAAACALRg0wbWF4cAAACXAAAAAgAAAAIAAZAHpuYW1lAAAJkAAAAaoAAAGqFIdqH3Bvc3QAAAs8AAAAIAAAACAAAwAAAAMD1QGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA6Q0DwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAwAAAAMAAAAcAAEAAwAAABwAAwABAAAAHAAEAEgAAAAOAAgAAgAGAAEAIOkE6QvpDf/9//8AAAAAACDpAOkH6Q3//f//AAH/4xcEFwIXAQADAAEAAAAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAkAAP+rBAADcgAEAAkADQARABUAGQAeACMAKAAAATMRIxEBIRUhNQMhFSERIRUhETMRIwEzESMBIRUhNRUhFSE1FSEVITUDxzk5/R0C4/0d5AOO/HIDjvxyVVUDOVVV/asBx/45Acf+OQHH/jkCjv0dAuP9Vjk5A45W/VZWAyj9EQLk/RECRDk5qjk5qzk5AAQAGgAAA+YDLwAEAAkAJAAvAAABMxEjEREzFSM1BSEiJicmNjcTPgE3PgE3EzYyFxsBHgEHDgEjJSEBAw4BBw4BBwMB1VZWVlYB1vyqEx8JCgENvAMMBgYMA8ATThfqwAoDDQkfE/zEAyL+b68DDAYHDAezAhX/AAEA/tZWVusSEBMqEAE8BhYKChYGATgjI/6A/rwUJhMNEVUCmv7eBxMNCRcG/tUAAAQAAP/VBAADVQBoAG4AcwB3AAABBx4BFRQGIyImJx4BFRQGIyImJw4BIyImNTQ2Nw4BIyImNTQ2Ny4BNTQ2MzIWFz4BMzIWMzcuASMiBgcuASMiDgIVHAEVDgEVFBYXOAExFB4CMzI2Nx4BMzI2NzoBMzI+AjU0JicFBxUzNycBBxc3JxcnBxcDqzwaIko2HS4TAwVJNyxGCQ1BKjZKEQ0KFwo2Sh0XBAVZPCA8Ew1CLQoTCUAWMx0qTxwUKxcwVUAlFBdQPSE5Ti0gORYaRCZEZxoDCgQsTjohLyb+FRWMFo0BHvyJ+4j3iEmJAdU7FDgjN0kWEAoTCTdJOCojM0o2FysQBAVKNiAzEwoZDD1ZHRcqNARADQ0fHQoHJUBWMAYJBhpDI0ZsFyxOOiESEBYZSjYhOk4tM1scDBKMFYkBIvyJ/IkeiESIAAAABgAzAFoDzQL7AA8AIAArAC8AVgBsAAAlISImNRE0NjMhMhYVERQGASIGFREUFjMhMjY1ETQmIyEFIxEzNTM1IzUzNTMjETMlLgEnLgEnPgE3PgE1NCYnLgEnLgErAREzNTMyFhceARceAR8BMycnIzUzOgEXHgEXHgEVFAYHDgEHDgEjA1/9Qi5AQC4Cvi5AQP0UERkZEQK+ERkZEf1CAgWrM2hoeFoyMv7BCQ4FBg0IEBkICAkGBQYOCQkdFGoyCgkNBAQHBAMOCSU8H2kmKA8TAwYJBAMDAgMCBwUEFxJaPy0Byiw/Pyz+Ni0/Al0XEP42ERYWEQHKEBeM/wBtKzws/wAyDxQGBgsFAgwJChgOCxQJCQwEAwT/AGsCAQEGBAQSDzgybkEBAQUEBAoHBgkEBAUCAgEABQCA/6sDgAOrAA4AFgAhACUAKQAAARUzESERMzUzMDYzMhYxFyMVITUjESEBFSE1IzAmIyIGMREzESMVMxUjAwCA/QCAgCRcXCTAQP4AQAKA/gABgIARLy8RgICAgANrQPyAA4BAQECAgID9AANAgIBAQP8A/sBAgAAAAAQAAP+rBAADqwATACcALAAwAAABIg4CFRQeAjMyPgI1NC4CAyIuAjU0PgIzMh4CFRQOAgMzESMRESEVIQIAa7qLUFCLumtruotQUIu6a1ORbD4+bJFTU5FsPj5skYZVVQEc/uQDq1CLu2pru4pQUIq7a2q7i1D8cT5skVRTkWw+PmyRU1SRbD4CvP7kARz+6VUAAAACAEj/8wO4A2IABAAIAAATAQcBNwUBJwHkAtSc/SycAtT9LJwC1ANi/SybAtSbm/0smwLUAAAAAAIAz/+3AzQDnwAEAAgAAAkBJwEXAwE3AQM0/gpvAfVwcP4LbwH2Ay/+C28B9nD8iAH1b/4LAAAACQBA/+sDwANrAAMABwALAA8AEwAXABsAHwAjAAATIREhASERIQEhESEFIREhASERIQEhESEFIREhASERIQEhESFAAQD/AAFAAQD/AAFAAQD/AP2AAQD/AAFAAQD/AAFAAQD/AP2AAQD/AAFAAQD/AAFAAQD/AANr/wABAP8AAQD/AED/AAEA/wABAP8AQP8AAQD/AAEA/wAAAAAAAgDP/7QDNAOhAAQACQAACQEHATcDARcBJwE+AfZw/gtvbwH1cP4KbwOh/gtvAfVv/IIB9nD+C28AAAAABABVAAADqwNVAAQACQAeADIAAAEzESMRETMVIzUTIg4CFRQeAjMyPgI1NC4CIxEiLgI1ND4CMzIeAhUUDgIB1VZWVlYrWpt0QkJ0m1pam3RCQnSbWkZ9XDY2XH1GRn1cNjZcfQKr/qoBVv5VVVUCVUJznFlanHNCQnOcWlmcc0L9ADZdfEdGfF02Nl18Rkd8XTYAAAEAAAABAADzNzZhXw889QALBAAAAAAA1URP+AAAAADVRE/4AAD/qwQAA6sAAAAIAAIAAAAAAAAAAQAAA8D/wAAABAAAAAAABAAAAQAAAAAAAAAAAAAAAAAAAA8EAAAAAAAAAAAAAAACAAAABAAAAAQAABoEAAAABAAAMwQAAIAEAAAABAAASAQAAM8EAABABAAAzwQAAFUAAAAAAAoAFAAeAGYAugFgAfwCOgKEAqACvAMKAygDcgABAAAADwB4AAkAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEACgAAAAEAAAAAAAIABwB7AAEAAAAAAAMACgA/AAEAAAAAAAQACgCQAAEAAAAAAAUACwAeAAEAAAAAAAYACgBdAAEAAAAAAAoAGgCuAAMAAQQJAAEAFAAKAAMAAQQJAAIADgCCAAMAAQQJAAMAFABJAAMAAQQJAAQAFACaAAMAAQQJAAUAFgApAAMAAQQJAAYAFABnAAMAAQQJAAoANADIZG12aWV3aWNvbgBkAG0AdgBpAGUAdwBpAGMAbwBuVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwZG12aWV3aWNvbgBkAG0AdgBpAGUAdwBpAGMAbwBuZG12aWV3aWNvbgBkAG0AdgBpAGUAdwBpAGMAbwBuUmVndWxhcgBSAGUAZwB1AGwAYQByZG12aWV3aWNvbgBkAG0AdgBpAGUAdwBpAGMAbwBuRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format("woff")}

[class*=" dmviewicon_"],
[class^=dmviewicon_]{
  font-family:dmviewicon!important;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;font-style:normal;font-variant:normal;font-weight:400;speak:none;text-transform:none
  }
  .dmviewicon_arrow_left:before{content:"\E909"}
  .dmviewicon_arrow_right:before{content:"\E90B"}
  .dmviewicon_doc_list_opener:before{content:"\E90A"}
  .dmviewicon_close_btn:before{content:"\E908"}
  .dmviewicon_markup:before{content:"\E902"}
  .dmviewicon_sheets_tab:before{content:"\E900"}
  .dmviewicon_history_tab:before{content:"\E907"}
  .dmviewicon_failed:before{color:#e2580b;content:"\E90D"}
  .dmviewicon_issue:before{content:"\E901"}
  .dmviewicon_rfi:before{content:"\E903";font-size:18px}
  .dmviewicon_field_issues:before{content:"\E904";font-size:18px}

.sidebar .nav-link {font-family:dmviewicon; font-size:16pt;}

i {font-size:7pt; font-weight: 600; font-family:sans-serif; font-style: normal;}